{% extends "quora/base.html" %}

{% block content %}

{% for question in questions %}
        <div class="container mt-3 mb-3" style="width:900px; border:0px;">
            <div class="card text-center" style="border:0px;">
                <div class="card-header bg-dark" style="color:#aaa">
                    Question
                </div>
                <div class="card-body">
                    <h5 class="card-title" style="
    font-size: 35px;
">{{ question.text }}</h5>
                    <a href="{% url 'quora:question' question.id %}" class="btn btn-danger" style="width:20%; margin: 0px 25px;">See Answers</a>
                    <a href="{% url 'quora:answer_question' question.id %}" class="btn btn-danger" style="width:20%; margin: 0px 25px;">answer question</a>
                </div>
                <div class="card-footer text-muted bg-dark">
                    Asked on {{ question.date_added|date:'M d, Y' }}  by  {{question.owner.username.title}}
                </div>
            </div>
        </div>
{% empty %}
    <p>There are no questions yet.</p>
{% endfor %}


<nav aria-label="Page navigation example">
  <ul class="pagination justify-content-center">
    <li class="page-item"><a class="page-link" href="?pg=1"><<</a></li>
    {% if questions.has_previous %}
        <li class="page-item"><a class="page-link" href="?pg={{ questions.previous_page_number }}">{{ questions.previous_page_number }}</a></li>
    {% endif %}
    <li class="page-item"><a class="page-link" href="?pg={{ questions.number }}">{{ questions.number }}</a></li>

    {% if questions.has_next %}
    <li class="page-item"><a class="page-link" href="?pg={{ questions.next_page_number }}">{{ questions.next_page_number }}</a></li>
    {% endif %}
    <li class="page-item"><a class="page-link" href="?pg={{ questions.paginator.num_pages }}">>></a></li>
  </ul>
</nav>

{% endblock content %}